/* reset css*/

ul {
  padding-inline-start: 0
}

/* end */

.connexionBox {
  background-color: #eceff1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.connexion > input {
  box-sizing: border-box;
  font-size: 24px;
  padding: 5px;
  border: 5px solid blue;
  background-color: #fff;
  border-width: 0 0 5px 0;
  outline: none;
}





.page {
  display: flex;
  flex-direction: row;
  /*height: 100%;*/
  flex-wrap: wrap;
  /*background-color: #E6E6FA;*/
  justify-content: center;
  text-align: start;
}



.menu {
  flex-basis: 100%;
  background-color: #800;
}


@media screen and (min-width: 452px){
  .bann_cont {
    height: 300px;
  }
}

.banniere {
  /*display: inline-flex; */
  /*flex-basis: 100%;*/
  /*background-color: #370;*/

  max-height: 300px;
  overflow: hidden;
  /*width: 100%;*/
  /*align-items: stretch;*/
}


.banniere_image {
  /*min-height: 0px;*/
  width: 100%;
/*  max-height:400px; */
  /*max-width:500px;*/
  height: 100%;
  filter: contrast(110%);
}



.collection {
  display: flex; 
  /*background-color: yellow;*/
  /*flex-basis: 100%;*/

  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /*width: 700px;*/
  height: 100%;
  border: 1px solid black;
  margin: 0px 0px 50px 0px;
}

/*.presentation {
  display: flex;
}*/

/*.avatar {
  width :100px;
  height: 100px;
}*/

.description {
  

  
}


/*  display: inline-flex; 
  flex-basis: 100%;
  background-color: #370;

  max-height: 300px;
  overflow: hidden;
  width: 100%;*/

.boutons {
  display: flex;
  background-color: #850;
  flex-direction: row;
  /*width: 100%;*/
  align-items: center;
  
  height: 136px;
  overflow: hidden;

  /*justify-content: space-evenly;*/
}






.ila_titre, .ilveut_titre {
  max-width: 310px;
  height: 100%;
  width: 100%;
  /*flex-grow: 1;*/
  /*display:none;*/
  padding: 0px 0px 0px 0px;  
}

@media screen and (max-width: 619px){
  .ila_titre, .ilveut_titre {
    display: none;
  }
}

@media screen and (min-width: 620px){
  .ila_titre_mob, .ilveut_titre_mob {
    display: none;
  }
}


.ila_titre {
  background: green;

}



@media screen and (max-width: 630px){
  .ila_titre {
  }
}

.ilveut_titre {
  background: red;
}



.ila_image, .ilveut_image {
  /*width: 310px;
  height: 100px;*/
  width: 100%;
}

.ila_image {
  filter: contrast(150%) brightness(70%);
  position: relative;

  bottom: 28px;
}

.ilveut_image {
  position: relative;
  bottom:90px;
  filter: brightness(90%)
}

@media screen and (max-width: 630px){
  .ila_image {
    bottom: 25px;
    height: 110%;
  }
  .ilveut_image {
    bottom:30px;
  }
  @media screen and (max-width: 450px){
    .ila_image {
      width: 130%;
    }

    .ilveut_image {
      height:110%;
    }
  }
}

.ila_texte {
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: white;
  top: 35%;
  left: 40%;
  z-index: 2;
  

}

.ilveut_texte {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top:35%;
  left: 40%;
  color: white;
  z-index: 2;
  /*font-size: 55px;*/
  /*margin:auto;*/
}




.listes {
  display: flex;
  /*display:none;*/
  flex-direction: row;
  background-color: blue;
  flex-wrap: wrap;
  flex-basis: 100%;
  z-index: 1;
  width: 100%;
}



.ila, .ilveut, .ila_mob, .ilveut_mob {
  display: flex;
  /*display:none;*/
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/


  /*margin:5px;*/
  width: 310px;
  padding: 0px;
  /*height: 50vh;*/
  /*overflow : hidden;*/
}




@media screen and (max-width: 619px){
  .ila, .ilveut {
    display: none;
  }
}

@media screen and (min-width: 620px){
  .ila_mob, .ilveut_mob {
    display: none;
  }
}


.ila {
  /*background-color: green;*/
  background-color: white;

}



.ilveut {
  /*background-color: red;*/
  background-color: white;

}

#scrollableDiv {
  height: 627px;
  overflow: auto;
  width: 310px;
}

@media screen and (max-width: 620px) {
  #scrollableDiv {
    width: 100vw;
  }
}


.infinite-scroll-component {
  overflow: hidden !important;

}



.graine {
  /*display: flex;*/
  width: 100%;
  background-color: white;
}

.ila_mob_css {
  width: 100%;
  background-color: aqua;
}

.ilveut_mob_css {
  width: 100%;
  background-color: chartreuse;
}


.switch {
  /*width: 100vw;*/
  flex-basis: 100%;

  height: 5vh;
  position: sticky;
  bottom:0px;
  z-index: 1;
  background-color: grey;
}

@media screen and (min-width: 620px){
  .switch {
    display: none;
  }
}

.pied {
  flex-basis: 100%;
  background-color: #00FFFF;
  position: relative;
  /*bottom: -70px;*/
  /*flex-grow: 0;*/
}

.contacter {
  background-color: black;
  position: fixed;
  color: white;
  top: 90vh;
  right: 70px;
}







button {
  font-size: 20px;
  border: none;
  color: white;
  background-color: green;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
}

/*.connexion {
  max-width: 500px;
  font-size: 24px;
}*/
.connexion > * {
  width: 100%;
}
/*.connexion > h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #1d1d1d;
}*/


@media screen and (max-width: 3660030px){
  .collection {
    
  }
  .mediacard {

  }
  .CI {/*carte d'identite*/
   

  }
  .cardactionarea_CI {/*cardactionarea - avatar+nom+presentation*/


  }
  .cardmedia_CI {/*cardmedia - avatar*/
  

  }
  .cardcontent_CI {/*cardcontent - nom+presentation*/
 
  }
  .cardnom_CI {/*cardnom - nom*/
   
  }
  .cardpresentation_CI {/*cardpresentation - presentation*/
  

  }
  .cardactions_CI {/*cardaction - les 2 boutons Typography*/
   
  }
  .favoris_CI {/*bouton favoris*/
  
  }
  .contacter_CI {/*bouton contacter*/
 

  }
  .listes, .boutons {
  }
  
}

@media screen and (max-width: 630px){
  .collection {
   /* display: flex;
    flex-flow: row wrap; */   
  }
  .mediacard {

  }
  .CI {/*carte d'identite*/
    flex-flow: row wrap;    


    max-width: 100vw;
  }
  .cardactionarea_CI {/*cardactionarea - avatar+nom+presentation*/
    flex-flow: row wrap;    
    
    max-width: 100vw;

  }
  .cardmedia_CI {/*cardmedia - avatar*/
  }
  .cardcontent_CI {/*cardcontent - nom+presentation*/
    text-align: center;

  }
  .cardnom_CI {/*cardnom - nom*/
  }
  .cardpresentation_CI {/*cardpresentation - presentation*/
    justify-content: center;
    
    

  }
  .cardactions_CI {/*cardaction - les 2 boutons Typography*/
   
  }
  .favoris_CI {/*bouton favoris*/
  
  }
  .contacter_CI {/*bouton contacter*/
 

  }
  .listes, .boutons {
  }
  
}
